<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EngineDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="EngineDesigner.Machine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="EngineDesigner.Media.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="EngineDesigner.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EngineDesigner.Properties.Settings>
      <setting name="EmptyFileName" serializeAs="String">
        <value>Untitled.xml</value>
      </setting>
      <setting name="RPMTimerInterval" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CustomFunctionNameEmptyText" serializeAs="String">
        <value>Enter function name here.</value>
      </setting>
      <setting name="SuperpositionFunctionNameBaseText" serializeAs="String">
        <value>Superposition:</value>
      </setting>
      <setting name="AverageFunctionNameBaseText" serializeAs="String">
        <value>Average:</value>
      </setting>
      <setting name="EngineSketchAnimated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IPartSketchBounding" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileNameExtension" serializeAs="String">
        <value>.xml</value>
      </setting>
      <setting name="DefaultTopic" serializeAs="String">
        <value>Engine designer</value>
      </setting>
    </EngineDesigner.Properties.Settings>
    <EngineDesigner.Machine.Properties.Settings>
      <setting name="ConRodBigEndPinAndCrankshaftDiameter_mm" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PistonSkirtLengthVsCylinderBore" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="GudgeonPinDistanceFromTopVsPistonSkirtLength" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="DefaultPistonDiameter_mm" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DefaultPistonMass_g" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DefaultCrankThrowCrankRadius_mm" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DefaultConnectingRodTotalMass_g" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DefaultConnectingRodWeightAndDistanceDistribution" serializeAs="String">
        <value>0.33</value>
      </setting>
      <setting name="PositionedCylinderDefaultPosition" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PositionedCylinderDefaultOffset_mm" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PositionedCylinderDefaultTilt_deg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PositionedCylinderDefaultFiringAngle_deg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CrankThrowCrankPinWidthVsCrankRadius" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="DefaultCrankThrowBalancerMass_g" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CrankThrowBalancerRadiusVsCrankThrowRadius" serializeAs="String">
        <value>0.33</value>
      </setting>
      <setting name="DefaultCrankThrowBalancerAngle_deg" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="DefaultConnectingRodLengthVsStroke" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DefaultConnectingRodLength_mm" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="DefaultOffsetDivisor" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CrankBalancerDiameter_mm" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="CrankBalancerWidth_mm" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultFlywheelDiameter_mm" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DefaultFlywheelMass_g" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FlywheelDiameterVsFlywheelWidth" serializeAs="String">
        <value>10</value>
      </setting>
    </EngineDesigner.Machine.Properties.Settings>
    <EngineDesigner.Media.Properties.Settings>
      <setting name="SlicesInCylinderMesh" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="PistonVsCylinderClearance" serializeAs="String">
        <value>0.99</value>
      </setting>
      <setting name="Volume_min" serializeAs="String">
        <value>-4000</value>
      </setting>
      <setting name="Volume_max" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CylinderPositionTextVsCylinderClearance" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SparkVsCylinderClearance" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SparkVsCylinderFactor" serializeAs="String">
        <value>0.125</value>
      </setting>
      <setting name="BasicEngineSketchArcPrecision" serializeAs="String">
        <value>10</value>
      </setting>
    </EngineDesigner.Media.Properties.Settings>
    <EngineDesigner.Common.Properties.Settings>
      <setting name="MinWorkerThreadsForThreadPoolOperations" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MinCompletionPortThreadsForThreadPoolOperations" serializeAs="String">
        <value>100</value>
      </setting>
    </EngineDesigner.Common.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Forms.DataVisualization" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
