<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EngineDesigner.Media.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EngineDesigner.Media.Properties.Settings>
      <setting name="SlicesInCylinderMesh" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="PistonVsCylinderClearance" serializeAs="String">
        <value>0.99</value>
      </setting>
      <setting name="Volume_min" serializeAs="String">
        <value>-4000</value>
      </setting>
      <setting name="Volume_max" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CylinderPositionTextVsCylinderClearance" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SparkVsCylinderClearance" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SparkVsCylinderFactor" serializeAs="String">
        <value>0.125</value>
      </setting>
      <setting name="BasicEngineSketchArcPrecision" serializeAs="String">
        <value>10</value>
      </setting>
    </EngineDesigner.Media.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
